[Desktop Entry]
Name=Nevoso
Comment=

X-KDE-PluginInfo-Name=Nevoso
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
